<div class="chat_head">
  <div class="left_header">
    <div class="header_title">
      hogefuga
    </div>
  </div>
  <div class="right_header">
    <div class="header_button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat_body">
  <div class="chat_upper">
    <div class="chat_who">
      名前1
    </div>
    <div class="chat_when">
      2023/2/10
    </div>
  </div>
  <div class="chat_what">
    内容1
  </div>

  <div class="chat_upper">
    <div class="chat_who">
      名前2
    </div>
    <div class="chat_when">
      2023/2/10
    </div>
  </div>
  <div class="chat_what">
    内容2
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>