<div class="side_user">
  <div class="header_name">
    <a href="#">ユーザー名</a>
  </div>
  <div class="create_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_room">
  <div class="chat_room">
    <a href="#">ルーム1</a>
  </div>
  <div class="chat_room">
    <a href="#">ルーム2</a>
  </div>
</div>